body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(241, 240, 240);
  box-sizing: border-box;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 145, 255);
  position: fixed;
  top: 0;
  left: 0;
}

header img {
  width: 50px;
  position: relative;
}

.count {
  position: absolute;
  top: 10px;
  right: 35px;
  font-size: 20px;
}

.logo {
  margin-left: 30px;
  font-family: sans-serif;
}

.design {
  animation-name: change-color;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes change-color {
  0% {
    color: blue;
  }
  20% {
    color: pink;
  }
  50% {
    color: burlywood;
  }
  70% {
    color: cyan;
  }

  90% {
    color: chocolate;
  }

  100% {
    color: green;
  }
}

.cart {
  margin-right: 50px;
}

.movieList {
  padding: 50px 0;
}

.movie-card {
  width: 70%;
  height: 200px;
  box-shadow: 0px 0px 4px 0px lightgrey;
  margin: 100px auto;
  padding: 50px;
}

.card {
  display: flex;
  gap: 20px;
}

.left img {
  height: 210px;
}

.bottom {
  display: flex;
  gap: 200px;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  gap: 20px;
}

.right .bottom .rating img {
  width: 20px;
  cursor: pointer;
}

.btn-fav {
  background-color: rgb(0, 157, 255);
  border: none;
  padding: 10px 15px;
  border-radius: 2px;
  color: white;
  cursor: pointer;
}

.btn-add-to-cart {
  background-color: rgb(20, 20, 97);
  border: none;
  padding: 10px 15px;
  border-radius: 2px;
  color: white;
  cursor: pointer;
}

.btn-remove-to-cart {
  background-color: rgb(219, 46, 55);
  border: none;
  padding: 10px 15px;
  border-radius: 2px;
  color: white;
  cursor: pointer;
}

.btn-unfav {
  background-color: rgb(219, 46, 55);
  border: none;
  padding: 10px 15px;
  border-radius: 2px;
  color: white;
  cursor: pointer;
}
